


.content {
  display: flex;
  flex-flow: row;
  height: 100%;
  max-width:100%;
  background: #eee;
  box-shadow: 0 0 5px rgba(0,0,0,1);
 // perspective: 1000px;
 // transform: translate3d(-50%,0,0);
  transform: translateZ(0);
  transition: transform .3s;
  &.mobile {
    min-width: 200%;
  }

  &.isOpen {
    transform: translate3d(220px,0,0);
    max-width: calc(100% - 220px);


    //  max-width:100%;
    //  min-width: calc(100% - 220px);
    //  width: 100%;
  }

  @import './leftPanel/leftPanel.scss';
  @import './rightPanel/rightPanel.scss';

}
//https://css-tricks.com/multiple-class-id-selectors/


/*
.content.isOpen {
  transform: translate3d(220px,0,0);
  max-width: calc(100% - 220px);


//  max-width:100%;
//  min-width: calc(100% - 220px);
//  width: 100%;
}
*/

/*.mobile {
  min-width
}*/


/*
@media only screen and (min-width: 700px) {
  .content.isOpen {
    transform: translate3d(220px,0,0);
    max-width: calc(100% - 220px);
    width: 100%;
  }
}*/



