
/*


.note {
  background: #fff;
  margin: 4px;
  // margin-top: 3px;
  margin-bottom: 5px;
  border-radius: 2px 2px 2px 2px;
  //box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
  border-bottom: 0 none;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
  height: 100px;
  padding: 5px;
  -webkit-user-select: none;  //disables chrome touch to search http://stackoverflow.com/questions/30648401/disable-mobile-chrome-43s-touch-to-search-feature-programmatically



}

.note:hover{
  border-radius: 2px 2px 2px 2px;
  //  border-bottom: 2px;
  //   border: 1px solid black;
  box-shadow: 0 5px 2px #777;

}

.notesWrapper{
  display: flex;
  flex-flow: column;
  overflow: hidden;

}

.notes {
  //  display: flex;
  // flex-flow: column;

  overflow-y: auto;

  //  min-height: 100%
}




.topMenu {
  height: 60px;
  min-height: 60px;
  padding: 20px;
  margin-bottom: 8px;
  // position: fixed;
  background: #DCDCDC;


  border-radius: 0 2px 0 2px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);

  .button {
    cursor: pointer;
  }

  .button:before {
    content: '\f0c9';
    font: 30px fontawesome;
  }

}

*/





.notesWrapper{
  display: flex;
  flex-flow: column;
  overflow: hidden;



  .topMenu {
    height: 60px;
    min-height: 60px;
    padding: 20px;
    margin-bottom: 8px;
    // position: fixed;
    background: #DCDCDC;


    border-radius: 0 2px 0 2px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);

    .button {
      cursor: pointer;
      &:before {
        content: '\f0c9';
        font: 30px fontawesome;
      }
    }

  }



  .notes {
    //  display: flex;
    // flex-flow: column;

    overflow-y: auto;

    //  min-height: 100%

    .note {
      background: #fff;
      margin: 4px;
      // margin-top: 3px;
      margin-bottom: 5px;
      border-radius: 2px 2px 2px 2px;
      //box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
      border-bottom: 0 none;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
      height: 100px;
      padding: 5px;
      -webkit-user-select: none;  //disables chrome touch to search http://stackoverflow.com/questions/30648401/disable-mobile-chrome-43s-touch-to-search-feature-programmatically

      &:hover{
        border-radius: 2px 2px 2px 2px;
        //  border-bottom: 2px;
        //   border: 1px solid black;
        box-shadow: 0 5px 2px #777;
      }
    }


  }





}



