<!DOCTYPE html>
<html>
  <head>
    <title>Redux Isomorphic Example</title>
    <% if(production){ %>
    <link rel="stylesheet" type="text/css" href="/build/styles.css" >
    <% } %>

  </head>
  <body>
    <div id="app"><%- html %></div>

    <script type="text/javascript">window.__DATA__ = <%- payload %>;</script>
    <script type="text/javascript" src="/build/bundle.js"></script>
  </body>

</html>
